<div class="outlet">
  <h1>Create a New Product</h1>
  <form class="createForm" (submit)="add()">
    <table>
      <tbody>
        <tr>
          <td>Title</td>
          <td>&nbsp; <input type="text" name="title" [(ngModel)]="newProduct.title"></td>
          <td><p class="error" *ngIf="errors['title']">{{ errors.title }}</p></td>
        </tr>
        <tr>
          <td>Price</td>
          <td>$<input type="number" name="price" [(ngModel)]="newProduct.price"></td>
          <td><p class="error" *ngIf="errors['price']">{{ errors.price }}</p></td>
        </tr>
        <tr>
          <td>Image url</td>
          <td>&nbsp; <input type="text" name="url" [(ngModel)]="newProduct.url"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><button class="formbutton" type="submit">Create</button><a [routerLink]="['/products']"><button class="formbutton">Cancel</button></a></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
