<div>
  <a [routerLink]="['/home']">Home</a><a style="margin-left: 100px;" [routerLink]="['newquote']">Add a Quote</a>
  <p>Quotes by {{ Name }}</p>
  <table class="maintable">
    <thead>
      <tr>
        <td>Quote</td>
        <td>Votes</td>
        <td>Actions Available</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let each of quotes; let i= index">
        <td>"{{ each.quote }}"</td>
        <td>{{ each.votes }}</td>
        <td><button (click)="vote(i, 1)" class="actionsbutton">Vote Up</button><button (click)='vote(i, -1)' class="actionsbutton">Vote Down</button><button (click)='delete(i)' class="actionsbutton">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>